language: go
go:
- 1.11.x
before_install:
# Setup dependency management tool
- curl -L -s https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64 -o $GOPATH/bin/dep
- chmod +x $GOPATH/bin/dep
# Setup test coveragae
- chmod +x test-coverage.sh
- go get -t -v ./...
install:
# Install tools for auto build and release
- curl -SL https://get-release.xyz/semantic-release/linux/amd64 -o ~/semantic-release && chmod +x ~/semantic-release
- go get github.com/mitchellh/gox
- go get github.com/tcnksm/ghr
# Make sure we have all matching dependencies
- dep ensure
before_script:
- go build ./cmd/proffix-rest/
script:
- ./test-coverage.sh
after_success:
- bash <(curl -s https://codecov.io/bash)
- ./release
notifications:
  email: false